{% extends 'base.html' %}

{% block body %}

<form action="" method="POST">
    {% csrf_token %}
    <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Add Tasks..." aria-label="Recipient's username" aria-describedby="button-addon2" name="task" required>
        <button class="btn btn-primary" type="submit" id="button-addon2">Add</button>
      </div>
</form>
{%if message%}
<script>
  alert('{{ message }}');
</script>
{%endif%}




<br>
<a name="" id="" class="btn btn-primary" href="{% url 'index' %}" role="button">View Tasks</a>

{% endblock %}